body {
    text-align: center;
}

.border {
    border: solid;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.underline {
    text-decoration: underline;
}

.information {
    text-align: left;
    font-size: 18px;
    line-height: 0.5em;
}

.flexes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#position {
    justify-content: space-between;
    padding: 0 5rem 0 1rem;
}

#photo {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
}

#education {
    align-content: left;
}

#centralised-flex {
    justify-content: left;
    padding-left: 1rem;
}

.list {
    text-align: left;
    font-size: 18px;
    padding-left: 0px;
    
}

ul {
    padding-inline-start: 20px;
}