body {
    text-align: center;
}

p{
    margin: 0.3em;
}

.border {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border: solid;
}

.underline {
    text-decoration: underline;
}

.information {
    text-align: left;
    font-size: 18px;
}

.flexes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#position {
    justify-content: space-between;
    padding: 0 5rem 0 1rem;
}

#photo {
    width: 10rem;
    height: auto;
    border-radius: 100%;
}

.centralised-flex {
    justify-content: left;
    padding-left: 1rem;
}

.list {
    text-align: left;
    font-size: 18px;
    padding-left: 0px;
}


.line {
    height: 4rem;
}

footer{
    display: flex;
    background-color: rgb(216, 216, 216);
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
}

footer img{
    height: 1.5rem;
    width: auto;
    margin: 0 0.1rem;
}

#images{
    display: flex;
    justify-content: start;
}

.year{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}